<main class="container-fluid py-5" id="serviceList">
    <div class="row g-4 rowContainer" >
        <div class="col-12 py-3">
            <h1 class="headerTitle">Our Services</h1>
        </div>

        <div class="col-sm-4 col-md-3 colomb">
            <div class="card text-center">
                <div routerLink="/services/social-media-marketing" class="card-body">
                    <img src="./../../../assets/images/socialMediaMarketing.png" class="card-img-top" alt="">

                    <h4 class="card-title my-3">Social Media</h4>

                    <div class="divier"></div>

                    <p class="text-align-center"> 
                        We make sure that your content looks great and captivates your audience. 
                        Our packages are tailored to suit your needs.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3 colomb">
            <div class="card text-center">
                <div routerLink="/services/digital-marketing" class="card-body">
                    <img src="./../../../assets/images/digitalMarketing.png" class="card-img-top" alt="">

                    <h4 class="card-title my-3">Digital Marketing</h4>

                    <div class="divier"></div>

                    <p class="text-align-center"> 
                        We use the ever-changing science of Social Media, SEO, Google Adwords, Targeted & Email Marketing.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3 colomb">

            <div class="card text-center">
                <div routerLink="/services/graphic-design" class="card-body">
                    <img src="./../../../assets/images/graphicDesign.png" class="card-img-top" alt="">

                    <h4 class="card-title my-3">Graphic Design</h4>

                    <div class="divier"></div>

                    <p class="text-align-center"> 
                        We make sure that your business, products and services look good, as the best brands speak without saying a word.
                    </p>
                </div>
            </div>

        </div>
        
        <div class="col-sm-4 col-md-3 colomb">
            <div class="card text-center">
                <div routerLink="/services/copywriting" class="card-body">
                    <img src="./../../../assets/images/copywriting.png" class="card-img-top" alt="">

                    <h4 class="card-title my-3">Copywriting</h4>

                    <div class="divier"></div>

                    <p class="text-align-center"> 
                        We create content and copywriting for all social media posts, websites and print media, covering all your bases!
                    </p>
                </div>
            </div>
            
        </div>

        <div class="col-sm-4 col-md-3 colomb">
            <div class="card text-center">
                <div routerLink="/services/websites" class="card-body">
                    <img src="./../../../assets/images/appDevelopment.png" class="card-img-top" alt="">

                    <h4 class="card-title my-3">Websites</h4>

                    <div class="divier"></div>

                    <p class="text-align-center"> 
                        From fully-responsive, standard websites to deal-closing e-commerce websites, we do it all!
                    </p>
                </div>
            </div>
            
        </div>

        <div class="col-sm-4 col-md-3 colomb">
            <div class="card text-center">
                <div routerLink="/services/photography" class="card-body">
                    <img src="./../../../assets/images/photography.png" class="card-img-top" alt="">

                    <h4 class="card-title my-3">Photography</h4>

                    <div class="divier"></div>

                    <p class="text-align-center"> 
                        We offer corporate portrait shoots, product photography, and more in our ultra modern Tesa Studio.
                    </p>
                </div>
            </div>
            
        </div>

        <div class="col-sm-4 col-md-3 colomb">
            <div class="card text-center">
                <div routerLink="/services/videography" class="card-body">
                    <img src="./../../../assets/images/videography.png" class="card-img-top" alt="">

                    <h4 class="card-title my-3">Videography</h4>

                    <div class="divier"></div>

                    <p class="text-align-center"> 
                        Undoubtedly our first love. We confidently take first prize in creating the most mind-blowing company videos, ever.
                    </p>
                </div>
            </div>
            
        </div>

        <div class="col-sm-4 col-md-3 colomb">

            <div class="card text-center">
                <div routerLink="/services/branding" class="card-body">
                    <img src="./../../../assets/images/branding.png" class="card-img-top" alt="">

                    <h4 class="card-title my-3">Branding</h4>

                    <div class="divier"></div>

                    <p class="text-align-center"> 
                        Whether you are looking for an elegant executive gifts or appreciation gifts, we have the best option for you.
                    </p>
                </div>
            </div>
            
        </div>

    </div>
</main>