<div class="py-2 bg-dark mt-auto">
    <div class="container-fluid">
        <!-- <div class="d-flex align-items-center justify-content-between small"> -->
        <div class="small footer">
            <div class="text-muted">
                Copyright &copy; {{ year }} | Tesamedia
            </div>

            <div class="icons">
                <a href="https://www.facebook.com/tesamedia" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-facebook"></i>
                </a>

                <i class="bi bi-twitter"></i>

                <a href="https://instagram.com/tesamedia_" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram"></i>
                </a>

                <i class="bi bi-youtube"></i>

                <a href="https://www.linkedin.com/company/tesamedia/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-linkedin"></i>
                </a>

                <i class="bi bi-tiktok"></i>
            </div>

            <!-- <div>
                <a routerLink="/terms-policy">Privacy Policy</a>
                ·
                <a routerLink="/terms-policy">Terms &amp; Conditions</a>
            </div> -->
        </div>
    </div>
</div>