<main id="contactUs">
    <section class="container-fluid py-5">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="container logoDetailsContainer">
                    <div>
                        <img src="./../../../assets/logo/tesaBlack.png" max-width="500px"  alt="tesamedia logo">
                    </div>

                    <div class="infoSection my-5">
                        <div class="d-flex align-items-center my-3">
                            <div class="flex-shrink-0">
                                <i class="bi bi-at"></i> 
                            </div>

                            <div class="flex-grow-1 ms-3 text-break">
                                <a href="mailto:support@tesamedia.com">
                                    <b>support@tesamedia.com</b>
                                </a>
                            </div>
                        </div>
                        
                        <div class="d-flex align-items-center my-3">
                            <div class="flex-shrink-0">
                                <i class="bi bi-phone"></i>
                            </div>

                            <div class="flex-grow-1 ms-3">
                                <a href="tel:+2347061711112">
                                    <b>+234 0706 171 1112</b>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex align-items-center my-3">
                            <div class="flex-shrink-0">
                                <i class="bi bi-compass"></i>
                            </div>

                            <div class="flex-grow-1 ms-3">
                                <b>154 New Lagos road, by medical stores junction, Benin City, Edo State, Nigeria.</b>
                            </div>
                        </div>
                    </div>

                    <div class="socialIcons my-5">
                        <a href="https://www.facebook.com/tesamedia" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-facebook"></i>
                        </a>

                        <i class="bi bi-twitter"></i>

                        <a href="https://instagram.com/tesamedia_" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <!-- <i class="bi bi-youtube"></i> -->
                        <a href="https://www.linkedin.com/company/tesamedia/" target="_blank" rel="noopener noreferrer">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <!-- <i class="bi bi-tiktok"></i> -->
                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-md-9">
                <div class="writeupContainer container">
                    <h1>Contact</h1>

                    <h5 class="py-4">
                        If you have questions or ready to talk about your project – 
                        simply give us a call, email us fill out the contact form, 
                        and we will get back to you as soon as possible.
                    </h5>

                    <div>
                        <app-contact-form></app-contact-form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>