#contactForm .interested .form-check-input:checked {
    background-color: #de2341;
    border-color: #de2341;
}

#contactForm .interested .form-check-input:active,
#contactForm .interested .form-check-input:focus {
    border-color: #de2341;
}