<main class="my-5">
    <article class="container my-5">
        <h2 class="mt-5">TESA MEDIA PRIVACY POLICY</h2>
    
        <!-- Purpose -->
        <section class="mt-5">
            <h5>Purpose</h5>
            <p>
                Tesa Media is an entity registered in Nigeria. 
                Tesa Media is a dynamic media agency.
            </p>
        
            <p>
                To achieve our objectives we must collect and use information which includes 
                Personal Information in terms of the Protection of Personal Information Act No 4 of 2013(POPI). 
                Information that alone or jointly with other factors identifies you as a person is personal 
                information in terms of POPI. Personal Information includes, but is not limited to, 
                information such as your name, contact details, telephone number, biometric information, 
                registration number etc.
            </p>
        
            <p>
                We treat all personal information that is collected as private and confidential.
            </p>
        </section>
    
        <!-- Right to change this Privacy Policy -->
        <section>
            <h5>Right to change this Privacy Policy</h5>
    
            <p>
                We have the right to change this Privacy Policy to align with changes in the 
                law or changes in technology which has an impact on how we process your personal information. 
                Our Privacy Policy can be accessed on our website. The latest version will replace previous versions.
            </p>
        </section>
    
        <!-- Collection of Personal Information -->
        <section>
            <h5>Collection of Personal Information</h5>
    
            <p>
                Personal information is collected directly from you(data subject) and may be collected 
                indirectly from other external sources for purposes of complying with the law.
            </p>
    
            <p>
                Due to the type of service that we provide it is important for us to have a complete 
                view of the data subjects that we assist, understand their behaviors. 
                We need to be proactive and pre-emptive in effectively identifying risks that 
                impacts our data subjects. We may therefore use other sources to find information, sources such as:
            </p>
    
            <ul>
                <li>Regulators</li>
                <li>Media sources such as social media</li>
                <li>Publicly available information</li>
            </ul>
        </section>
    
        <!-- The purpose for collection of personal information -->
        <section>
            <h5>The purpose for collection of personal information</h5>
    
            <p>
                We collect your personal information for a number of reasons including, 
                but not limited to, the following:
            </p>
    
            <ul>
                <li>Communication</li>
                <li>Social Media</li>
                <li>Branding</li>
                <li>Photography</li>
                <li>Invoicing</li>
                <li>Web development</li>
                <li>App development</li>
            </ul>
        </section>
    
        <!-- Personal information that we collect -->
        <section>
            <h5>Personal information that we collect</h5>
    
            <p>
                We collect different attributes of your personal information at specific points 
                of our processes, to fulfil legal requirements and internal business purposes. 
                Some of the information we collect i:
            </p>
    
            <ul>
                <li>Identity number ( company registration numbers, passport number).</li>
                <li>Email-addresses, physical address, contact number.</li>
                <li>Names, surname.</li>
                <li>Financial information.</li>
            </ul>
    
            <p>
                We may not be able to carry out our legislative mandate and provide our 
                services to you or procure your services without your personal information.
            </p>
        </section>
    
        <!-- Third Parties -->
        <section>
            <h5>Third Parties</h5>
    
            <p>
                We might from time to time share your personal information with third parties affiliated to us. 
                We will only disclose your personal information when:
            </p>
            
            <ul>
                <li>It is necessary to fulfil our mandate in terms of agreements.</li>
                <li>For business purposes.</li>
                <li>The law requires it.</li>
                <li>Your legitimate interests requires the disclosure.</li>
                <li>You consented to us disclosing the information.</li>
            </ul>
        </section>
    
        <!-- Third parties may include but not limited to -->
        <section>
            <h5>Third parties may include but not limited to:</h5>
            
            <ul>
                <li>Regulators</li>
                <li>Law enforcement agencies</li>
                <li>Service Providers</li>
            </ul>
    
            <p>
                We request, where appropriate, the third parties with whom we share information with, 
                to take adequate steps and comply with applicable data protection laws and protect the 
                information disclosed to them. We accomplish this through contractual arrangements with 
                these third parties. We also have internal controls to ensure that the third parties we 
                appoint have appropriate controls to protect the information we provide to them.
            </p>
    
            <p>
                If you want to learn more about our internal measures, 
                please contact the Tesa Media Information Officer.
            </p>
        </section>
    
        <!-- Transborder Information flows -->
        <section>
            <h5>Transborder Information flows</h5>
    
            <p>We only process personal information in Nigeria.</p>
        </section>
    
        <!-- Your Rights -->
        <section>
            <h5>Your Rights</h5>
    
            <p>
                As a data subject, you have certain rights that you can exercise in relation 
                to the personal information we hold about you. You can exercise your right to:
            </p>
    
            <ul>
                <li>
                    Ask for access to the information we hold about you. 
                    We may, if allowed by law, charge for this.
                </li>
                <li>
                    Request correction and updates to the personal information we hold about you.
                </li>
                <li>
                    Object to the way we use personal information about you.
                </li>
                <li>
                    Request that information be deleted that is inaccurate, irrelevant, 
                    excessive, out of date, incomplete, misleading or obtained unlawfully or 
                    where we are no longer authorized to keep such information.
                </li>
                <li>
                    Submit complaints to us about the way we use your personal information. 
                    If you are not satisfied with how we handle your complaint, you can lodge a 
                    complaint with the Information Regulator.
                </li>
            </ul>
        </section>
    
        <!-- Security Practices -->
        <section>
            <h5>Security Practices</h5>
    
            <p>
                The security systems and controls we have implemented are designed to maintain confidentiality, 
                prevent loss, unauthorised access, and damage to information by unauthorised parties.
            </p>
        </section>
    
        <!-- Retention of Personal Information -->
        <section>
            <h5>Retention of Personal Information</h5>
    
            <p>
                Our retention policy defines how long we keep all types of records, 
                including any personal information we process. 
                Personal information is retained and destroyed as required or authorised by law.
            </p>
        </section>
    
        <section>
            <h5>Contact Us</h5>
    
            <p>
                For any queries, requests, questions or complaints about our privacy policy and how 
                we process your personal information, please contact Tesa Media’s Information officer at 
                hello@tesamedia.com.
            </p>
        </section>
    
        <!-- Access to and Correction of Personal Information -->
        <section>
            <h5>Access to and Correction of Personal Information</h5>
    
            <p>
                You may access, amend and correct your personal information 
                that we hold about you by sending an email to hello@tesamedia.com.
            </p>
        </section>
    
        <!-- Physical address: -->
        <section>
            <h5>Physical address:</h5>
    
            <address>
                154 New Lagos road, <br>
                by medical stores junction, <br>
                Benin City, Edo State, <br>
                Nigeria.
            </address>
        </section>
    
        <p>
            <b>Email:</b> enquiries email: hello@tesamedia.com.
        </p>
        
        <p>
            <b>Complaints:</b> support@tesamedia.com.
        </p>
    </article>
</main>