<main>
    <section id="explodeYourBusiness">
        <div class="video-container">
            <div class="callout py-5">
                <div class="container">
    
                    <div class="row g-3 py-5">
                        <div class="col-sm-9 col-md-7 col-xlg-8">
                            <div class="textWrapper">
                                <h1 class="titleHeader" data-fontsize="54" data-lineheight="62.64px">
                                    <span style="color: #ffffff;">
                                        <span class="highlight1">Explode</span> 
                                        your business
                                    </span>
                                </h1>
                
                                <br>
                
                                <p class="card-text pe-5">
                                    We’re a dynamic team with the expertise to explode your business. 
                                    We’ve studied the marriage between a success-driven money-hungry business, and a client waiting to be discovered. 
                                    We’ve mastered the steps between first introducing your business to seeing your client sign on the dotted line.
                                    <br>
                                    We’re the bridge between a mediocre business and a money-making machine. Nice to meet you.
                                    <br>
                                </p>
                
                                <button type="button" class="btn btn-outline-danger meetTheTeamBTN mt-5 py-2 px-4">Meet The Team</button>
                            </div>
                        </div>
    
                        <div class="col-sm-3 col-md-5 col-xlg-4"></div>
                    </div>
                </div>
            </div>
    
            <div class="fullwidth-overlay" style="background-color: #00000000;"></div>
    
            <div class="d-none d-sm-block">
                <!-- <video src="./../../../assets/videos/aboutUs.mp4" class="scale2" autoplay loop playsinline muted></video> -->
                <video [src]="videoLinks.aboutUs" class="scale2" autoplay loop playsinline muted></video>
            </div>
        </div>
    </section>

    <section id="marketingMadeEasy">
        <div class="container py-5">
            <div class="row g-3">
                <div class="col-md-7">
                    <h4 class="title py-2">Marketing Made Easy</h4>
    
                    <h2 class="titleHeader" data-fontsize="32" data-lineheight="41.6px">
                        <strong>
                            Our team of strategically hand-picked digital &amp; creative 
                            <span class="highlight1">experts</span>, perfect for 
                            <span class="highlight1">elevating your brand.</span>
                        </strong>
                    </h2>
    
                    <p class="mt-5">
                        An agency is a collection of people and standards, 
                        and we’ve worked very hard to have the best of both. No one can guarantee results, 
                        but we can guarantee that if anyone will help you get there, it’s us.
                    </p>
                </div>
    
                <div class="d-none d-md-block col-md-5">
                    <div class="imageContainer">
                        <img src="./../../../assets/images/twoTeamMembers.JPG" class="img-fluid" alt="tesamedia">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="seeWhatWe">
        <div class="row">
            <div class="col-sm-12 col-lg-4 offer">
                <div class="container py-5">
                    <div class="px-4 py-5">

                        <h1 class="titleHeader">See what we offer</h1>
                        <p class="divider mt-4 mb-2"></p>
                        <br>
    
                        <p>
                            Everything we do starts a purpose, 
                            is carried out by a driven team with an executable plan, 
                            and ends with a retrospective on how to innovate and improve.
                        </p>
    
                        <p>Check out what we do.</p>
    
                        <button class="btn ourServicesBTN mt-5 py-3 px-4">
                            Our Services
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 haveDone">
                <div class="container py-5">
                    <div class="px-4 py-5">
                        <h1 class="titleHeader">See what we have done</h1>
        
                        <p class="divider mt-4 mb-2"></p>
                        <br>
        
                        <p>
                            Passion lies at the heart of everything we do. 
                            Every design, every project, every campaign – we wear with pride, 
                            never forgetting the story behind the success.
                        </p>
        
                        <p>Happy browsing.</p>
        
                        <button class="btn ourWorkBTN mt-5 py-3 px-4">
                            Our Work
                        </button>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-lg-4 canDoIt">
                <div class="container py-5">
                    <div class="px-4 py-5 text-light">
                        <h1 class="titleHeader">See how we can do it for you</h1>
        
                        <p class="divider mt-4 mb-2 bg-light"></p>
                        <br>
        
                        <p>
                            There’s no need to feel left out. There’s enough of us to go around. 
                            If you like what you see, hit the button below.
                        </p>
        
                        <p>We’re scaling fast, and so can you.</p>
        
                        <button class="btn getQuoteBTN mt-5 py-3 px-4">
                            Get a Quote
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="meetOurTeam">
        <div class="container py-5">
            <h1 class="titleHeader" style="text-align: center;">
                Meet the 
                <span class="highlight1">Amazing Team</span>
            </h1>

            <div class="row g-3">
                <div class="col-12">
                    <img src="./../../../assets/images/team1.jpg" class="img-fluid" alt="team tesa">
                </div>

                <div class="col-md-6 col-lg-4">
                    <img src="./../../../assets/images/team4.JPG" class="img-fluid" alt="team tesa">
                </div>

                <div class="col-md-6 col-lg-4">
                    <img src="./../../../assets/images/team5.JPG" class="img-fluid" alt="team tesa">
                </div>

                <div class="col-md-6 col-lg-4 d-md-none d-block d-lg-block">
                    <img src="./../../../assets/images/team3.JPG" class="img-fluid" alt="team tesa">
                </div>
            </div>
        </div>
    </section>

    <section id="workTogether">
        <div class="container py-5">
            <h1 class="titleHeader" style="text-align: center;">
                <span style="color: #ffffff;">
                    How we’ll work 
                    <span class="highlight1">together</span>
                </span>
            </h1>

            <div class="row g-3 pt-5">
                <div class="col-sm-6 px-3">
                    <div class="colomb">
                        <h1 class="titleHeader py-3">
                            <strong class="">1</strong>
                        </h1>
    
                        <p style="font-weight: bolder;">Design-focused, first and foremost.</p>
    
                        <p>
                            As a team, we’re design-focused across every touchpoint or interaction.
                            Everything we do and dream up has a solid design impact.
                            We get up and go in the morning, supercharged to make a difference with design as a top-of-mind solution.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 px-3">
                    <div class="colomb">
                        <h1 class="titleHeader py-3">
                            <strong class="">2</strong>
                        </h1>
    
                        <p style="font-weight: bolder;">We’re part of your Team.</p>
    
                        <p>
                            Some brands and businesses need a vendor. Well, that’s just not us. 
                            We’ve crossed it out from our virtual dictionaries. It’s dead to us. 
                            Instead, we’re a partner, enabler, and true collaborator. 
                            We’re a team extension and built around unification.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 px-3">
                    <div class="colomb">
                        <h1 class="titleHeader py-3">
                            <strong class="">3</strong>
                        </h1>
    
                        <p style="font-weight: bolder;">Senior teams, aiming for stellar impact.</p>
    
                        <p>
                            All of our service, strategy, design and digital team members are senior-level, 
                            ready to take on the world to help you on your mission as a game-changing brand. 
                            This is intentional, and built around the logic that to win big, 
                            we have to think big.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 px-3">
                    <div class="colomb">
                        <h1 class="titleHeader py-3">
                            <strong class="">4</strong>
                        </h1>
    
                        <p style="font-weight: bolder;">P is for pure performance.</p>
    
                        <p>
                            To us, performance is constantly in line of sight. 
                            If we’re not over-delivering on performance, 
                            we’re not the right partner for your business. 
                            From day-one we’re hyper-focused on getting the right content, 
                            portrayed in the right way, ensuring your brand is positioned to perform. 
                            We then continue to bring those results to life with our cross-functional teams.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="socialStalkUs">
        <div class="container py-5">
            <div class="text-align-center mx-auto">
                <h1>Social Stalk Us</h1>

                <p class="iconList">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                    <!-- <i class="bi bi-youtube"></i> -->
                    <i class="bi bi-linkedin"></i>
                    <!-- <i class="bi bi-tiktok"></i> -->
                </p>
            </div>
        </div>
    </section>

    <section id="likeWhatYouSee">
        <div class="container py-5">
            <h1 class="titleHeader">
                <span style="color: #ffffff;">
                    <span class="highlight1">Like</span>
                    what you see?
                </span>
            </h1>

            <form #contactUs="ngForm" (ngSubmit)="onSubmitContactUs(contactUs)" class="py-5">
                <div class="row g-3">
                    <!-- Name(s) --> 
                    <div class="col-12 mb-2">
                        <label for="full-name-input" class="small form-label">Name(s) <span class="text-danger">*</span> </label>

                        <div class="input-group">
                            <span class="input-group-text" id="full-name">
                                <i class="bi bi-person-badge"></i>
                            </span>
                            <input type="text" 
                                class="form-control" 
                                placeholder="Please enter your name(s)" 
                                id="full-name-input" 
                                autocomplete="name"
                                required
                                minlength="4"
                                pattern="[a-zA-Z0-9 ]+$"
                                name="name"
                                #name="ngModel"
                                ngModel
                                aria-label="Name" aria-describedby="full-name-Help full-name"
                            >
                        </div>
            
                        <div id="full-name-Help" class="form-text form-error" *ngIf="name.touched && name.invalid">
                            <ul class="mb-0">
                                <li *ngIf="name.hasError('pattern')">
                                    Special characters and numberic not allowed 
                                </li>
                                <li *ngIf="name.hasError('required')">
                                    Your name(s) are required 
                                </li>
                                <li *ngIf="name.hasError('minlength')">
                                    Characters should be more than 4 alphabets 
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Email Address -->
                    <div class="col-md-6 mb-2">
                        <label for="email-input" class="small form-label">Email address <span class="text-danger">*</span> </label>

                        <div class="input-group">
                            <span class="input-group-text" id="email">
                                <i class="bi bi-envelope"></i>
                            </span>
                            <input type="email" class="form-control" 
                                placeholder="Enter a valid email address" id="email-input" 
                                autocomplete="email"
                                required
                                pattern="[a-zA-Z0-9\.\-\_]+@[a-zA-Z0-9\.\-\_]+\.[a-zA-Z]+$"
                                email
                                name="email"
                                #email="ngModel"
                                ngModel
                                aria-label="Email" aria-describedby="email-Help email"
                            >
                        </div>
            
                        <div id="email-Help" class="form-text form-error" 
                            *ngIf="email.touched && email.invalid"
                        >
                            <ul class="mb-0">
                                <li *ngIf="email.hasError('pattern')">
                                    Please enter a vaild email address
                                </li>
                                <li *ngIf="email.hasError('required')">
                                    Email address is required 
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Phone Number -->
                    <div class="col-md-6 mb-2">
                        <label for="Phone-Number-input" class="small form-label">Phone number <span class="text-danger">*</span></label>

                        <div class="input-group">
                            <span class="input-group-text" id="email">
                                <i class="bi bi-telephone"></i>
                            </span>
                            <input type="tel" class="form-control" 
                                placeholder="Enter a valid phone number" id="Phone-Number-input" 
                                autocomplete="tel"
                                required
                                minlength="5"
                                maxlength="15"
                                pattern="^[\+0-9]+$"
                                name="phoneNumber"
                                #phoneNumber="ngModel"
                                ngModel
                                aria-label="Phone-Number" aria-describedby="Phone-Number-Help Phone-Number"
                            >
                        </div>
            
                        <div id="Phone-Number-Help" class="form-text form-error" *ngIf="phoneNumber.touched && phoneNumber.invalid">
                            <ul class="mb-0">
                                <li *ngIf="phoneNumber.hasError('pattern')">
                                    Please enter a vaild phone number
                                </li>
                                <li *ngIf="phoneNumber.hasError('required')">
                                    Phone number is required 
                                </li>
                                <li *ngIf="phoneNumber.hasError('minlength')">
                                    Phone number should be more than 10 digits
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- message -->
                    <div class="col-12 mb-3">
                        <div class="form-group">
                            <label class="small mb-1" for="messageInput">Message <span class="text-danger">*</span></label>
                            <textarea class="form-control" id="messageInput"
                                placeholder="Please enter your message here..."
                                rows="5"
                                data-minwords="5"
                                required
                                name="message"
                                #message="ngModel"
                                ngModel
                                aria-label="message" aria-describedby="messageInput-Help messageInput"
                            ></textarea>
                        </div>

                        <div id="messageInput-Help" class="form-text form-error" *ngIf="message.touched && message.invalid">
                            <ul class="mb-0">
                                <li *ngIf="message.hasError('required')">
                                    You can't send an empty message 
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group d-grid gap-2 mt-4 mb-0">
                        <button class="btn btnSend text-uppercase" type="submit"
                             [disabled]="contactUs.invalid || submitted"
                        >
                            Send <i *ngIf="submitted" class="BTNloader"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>




<!-- <div class="container-fluid py-5">
    <div class="row g-0 align-items-center">
        <div class="col-sm-5">
            <div>
                <div class="elementor-widget-container">
                    <h1 class="elementor-heading-title elementor-size-default fusion-responsive-typography-calculated" style="--fontsize: 54; line-height: 1.16; --fontSize:54;" data-fontsize="54" data-lineheight="62.64px">
                        <span style="color: #ffffff;">
                            <span class="fusion-highlight custom-textcolor highlight1" style="background:linear-gradient(to top, #de2341 40%, transparent 40%);color:#ffffff;">
                                Explode
                            </span> 
                            your business
                        </span>
                    </h1>
                </div>

                <br>

                <p class="card-text">
                    We’re a dynamic team with the expertise to explode your business. 
                    We’ve studied the marriage between a success-driven money-hungry business, and a client waiting to be discovered. 
                    We’ve mastered the steps between first introducing your business to seeing your client sign on the dotted line.
                    <br>
                    We’re the bridge between a mediocre business and a money-making machine. Nice to meet you.
                    <br>
                </p>

                <button type="button" class="btn btn-danger viewOurWork">Meet The Team</button>
            </div>
        </div>

        <div class="d-none d-sm-block col-sm-7">
            <video class="scale2" src="./../../../assets/videos/aboutUs.mp4" autoplay loop playsinline muted></video>
        </div>
    </div>
</div> -->