
<main>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div style="text-align: left;">
                    <img src="../../../assets/images/empty.gif" 
                    alt="404 Page Not Found" width="100%" height="100%" 
                    srcset="../../../assets/images/empty.gif">
                </div>
            </div>

            <div class="col-md-6 text-center">
                <h1 style="color: #de2341;">
                    404 Page Not Found!!!
                </h1>

                <p>
                    <span style="font-weight: bolder;">
                        Seems you got lost! We are so sorry for the inconvenience. 
                    </span>
                    <br>
                    <br>
                    The page you were trying to access has been deleted or never exist!
                </p>
            </div>
        </div>
    </div>
</main>